.heding {
    margin: 0 1em;
    font-size: 1.5em !important;
    color: #453221;
    margin-top: 0;
    font-weight: 600;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 1em 3em;
    align-items: center;
    row-gap: 2.5em;
}

.cardContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    width: 90%;
}

.image {
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
    box-shadow: #4532215b 0px 5px 15px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

.namePriceContainer {
    margin: 1em 0;
}

.name,
.price {
    width: 100%;
    text-align: center;
    margin: 0;
    color: #453221;
    font-weight: 600;
}

.button {
    border: none;
    background-color: #607594;
    color: white;
    font-weight: 600;
    padding: 0.7em 2em;
    border-radius: 0.7em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3C4C64;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    align-items: center;
}

.headingContainer button{
    margin-right: 0.5em;
}

.iconButton{
    background-color: transparent;
    border: none;
    height: 4em;
    width: 3em;
    cursor: pointer;
}
.iconImage{
    width: 2em;
    height: 2em;
    transition: transform 0.3s ease;
}

.iconImage:hover {
    transform: scale(1.2);
}

@media (max-width: 1200px) {
    .cardContainer {
        width: 33%;
    }

    .heding {
        margin: 1em 0;
        font-size: 2em !important;
    }

    .name,
    .price {
        font-size: 1.5em;
    }

    .namePriceContainer {
        margin: 2em 0;
    }

    .button {
        font-size: 1.3em;
    }
}

@media (max-width: 750px) {
    .cardContainer {
        width: 50%;
        margin-bottom: 4em;
    }

    .heding {
        margin: 1em 0;
        font-size: 2.5em !important;
    }

    .name,
    .price {
        font-size: 2em;
    }

    .namePriceContainer {
        margin: 2.5em 0;
    }

    .button {
        font-size: 2em;
    }

    .headingContainer{
        margin: 0 2.5rem;
    }

    .iconButton {
        height: 5em;
        width: 5em;
    }
}

@media (max-width: 500px) {
    .cardContainer {
        width: 100%;
        margin-bottom: 7em;
    }

    .name,
    .price {
        font-size: 3em;
    }

    .button {
        font-size: 2.5em;
    }

    .iconButton {
        height: 4.8em;
        width: 6.8em;
    }
}