.categories {
    display: flex;
    justify-content: center;
    background-color: #ece9e9;
    margin-bottom: 1em;
}

.categories button {
    padding: 1rem;
}

.heding {
    margin: 0 1em;
    font-size: 1.5em !important;
    color: #453221;
    margin-top: 0;
    font-weight: 600;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 1em 3em;
    align-items: center;
    row-gap: 2.5em;
}

.cardContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    width: 90%;
}

.image {
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
    box-shadow: #4532215b 0px 5px 15px;
    transition: transform 0.3s ease;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
}

.image:hover {
    transform: scale(1.05);
}

.namePriceContainer {
    margin: 1em 0;
}

.name,
.price {
    width: 100%;
    text-align: center;
    margin: 0;
    color: #453221;
    font-weight: 600;
}

.button {
    border: none;
    background-color: #607594;
    color: white;
    font-weight: 600;
    padding: 0.7em 2em;
    border-radius: 0.7em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3C4C64;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    align-items: center;
}

.headingContainer button {
    margin-right: 0.5em;
}

.iconButton {
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.iconImage {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.iconImage:hover {
    transform: scale(1.2);
}

.modal {
    background: transparent;
    width: 94%;
    height: 90vh;
    border: none;
    border-radius: 2em;
    background: #a9b5c88a;
    backdrop-filter: blur(10px);
    padding: 6rem 4rem;
}

.modal::-webkit-scrollbar {
    width: 6px;
}

.modal::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 1200px) {
    .cardContainer {
        width: 33%;
    }

    .heding {
        margin: 1em 0;
        font-size: 2em !important;
    }

    .name,
    .price {
        font-size: 1.5em;
    }

    .namePriceContainer {
        margin: 2em 0;
    }

    .button {
        font-size: 1.3em;
    }

    .modal {
        height: 80vh;
        padding: 4rem 2rem;
    }
}

@media(max-width:980px) {
    .modal {
        height: 60vh;
    }
}


@media(max-width:900px) {
    .categories {
        display: none;
    }

    .modal {
        padding: 2rem;
        width: 80%;
    }
}

@media (max-width: 750px) {

    .modal {
        height: 80vh;
    }

    .cardContainer {
        width: 50%;
        margin-bottom: 4em;
    }

    .heding {
        margin: 1em 0;
        font-size: 2.5em !important;
    }

    .name,
    .price {
        font-size: 2em;
    }

    .namePriceContainer {
        margin: 2.5em 0;
    }

    .button {
        font-size: 2em;
    }

    .headingContainer {
        margin: 0 2.5rem;
    }

}

@media (max-width: 500px) {

    a {
        width: 94%;
    }

    .cardContainer {
        width: 100%;
        margin-bottom: 7em;
    }

    .name,
    .price {
        font-size: 3em;
    }

    .button {
        font-size: 2.5em;
    }

    .iconButton,
    .iconImage {
        height: 1.5rem;
        width: 1.5rem;
    }
}