.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 1em 3em;
    align-items: center;
    row-gap: 2.5em;
}

.cardContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    width: 90%;
}

.image {
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
    box-shadow: #4532215b 0px 5px 15px;
    transition: transform 0.3s ease;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.image:hover {
    transform: scale(1.05);
}

.namePriceContainer {
    margin: 1em 0;
}

.name,
.price {
    width: 100%;
    text-align: center;
    margin: 0;
    color: #453221;
    font-weight: 600;
}

.button {
    border: none;
    background-color: #607594;
    color: white;
    font-weight: 600;
    padding: 0.7em 2em;
    border-radius: 0.7em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3C4C64;
}

.noProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-size: 2em;
    font-weight: 600;
    color: #3C4C64;
}

@media (max-width: 1200px) {
    .cardContainer {
        width: 33%;
    }

    .name,
    .price {
        font-size: 1.5em;
    }

    .namePriceContainer {
        margin: 2em 0;
    }

    .button {
        font-size: 1.3em;
    }
}

@media (max-width: 750px) {
    .cardContainer {
        width: 50%;
        margin-bottom: 4em;
    }

    .name,
    .price {
        font-size: 2em;
    }

    .namePriceContainer {
        margin: 2.5em 0;
    }

    .button {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    a {
        width: 94%;
    }

    .cardContainer {
        width: 100%;
        margin-bottom: 7em;
    }

    .name,
    .price {
        font-size: 3em;
    }

    .button {
        font-size: 2.5em;
    }
}