.mainContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 3rem;
    margin-bottom: 2em;
}

.mainContainer p,
.mainContainer label {
    color: rgb(69, 50, 33);
    font-weight: 600;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    display: flex;
    align-items: center;
    gap: 3em;
}

.profileImage {
    border-radius: 50%;
    width: 10em;
    aspect-ratio: 1/1;
}

.btnContainer {
    display: flex;
    gap: 1em;
    font-size: 0.75em;
    align-items: center;
}

.btnContainer input {
    display: none;
}

.btnContainer p {
    margin: 0;
}

.btnContainer label {
    display: inline-block;
    padding: 10px;
    background-color: #1166c0;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    max-height: 3rem;
    min-width: 12rem;
}

.btnContainer label:hover {
    background-color: #023a75;
}

.btnContainer button,
.usernameContainer button {
    font-size: 1rem;
}

.uploadedFileName{
    margin-top: 1em;
}

.usernameContainer {
    display: flex;
    align-items: end;
    gap: 1em;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 65%;
}

.inputGroup input {
    background-color: #F6F6F6;
    padding: 1.5em 2em;
    border-radius: 0.75em;
    color: rgba(44, 44, 44, 0.788);
    width: 100%;
}

.usernameContainer button {
    height: 3em;
}

.noOrders {
    font-size: 1.75rem !important;
    color: #60759494 !important;
}

.modal {
    background-color: white;
    width: 30rem;
    border: none;
    border-radius: 1em;
    background: #a9b5c8b5;
    padding: 2rem;
    backdrop-filter: blur(10px);
}

.flashingText {
    animation: flash 2s infinite;
}

.iconButton {
    border: none;
    background-color: rgb(163, 82, 82);
    width: 3rem;
    height: 3rem;
    padding: 1em;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
}

.iconButton:hover {
    background-color: rgb(114, 56, 56);
}

.iconButton img{
    width: 1.5em;
    object-fit: cover; 
    object-position: center; 
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width: 980px) {
    .mainContainer {
        width: 90%;

    }

    .usernameContainer button {
        width: 40%;
    }
}