.container {
    width: 100%;
    margin: 2em 4em;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.193);
    margin: 2em 1em;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    /* Set button color */
    z-index: 10;
    /* Ensure the buttons are above other elements */
    width: 30px;
    /* Set a specific width */
    height: 30px;
    /* Set a specific height */
    transition: color 0.3s;
}

.swiper-button-next {
    position: absolute;
    right: 10000px;
    /* Positioning */
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 33px);
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 150px);
    left: auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #4658ff;
    /* Change color on hover */
}

.button {
    background-color: #3c4c649c;
    color: white;
    border: none;
    padding: 0.3em 0.3em;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.5em;
    outline: none;
    position: absolute;
    margin: 0 2.5em;
    z-index: 1000;
}

.button:nth-of-type(2) {
    right: 0;
    margin: 0 1em;
}

.button:hover {
    background-color: #2b3a50;
}

@media (max-width: 580px) {
    .image {
        width: 85vw;
        height: auto;
        margin: 4em 3em;
    }
}