.collections {
    transform: translateY(56em);
    padding: 2em 4em;
    background-color: #D6C7BE;
}

h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.container {
    padding: 2em 0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collectionButton {
    background-color: #ebe7e4b3;
    color: #4C4C4C;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2em;
    padding: 1em 2.5em;
    border: none;
    width: 65%;
    border-radius: 0.5em;
    margin-bottom: 2em;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.collectionButton:hover{
    background-color: #ebe7e4f2;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    width: 28vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border-radius: 0.75em;
}

.men {
    background-image: url('../../assets/man.png');

}

.women {
    background-image: url('../../assets/women.png');

}

.kid {
    background-image: url('../../assets/kids.jpg');

}

@media (max-width: 580px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 71em;
        height: 36em;
        margin: 2em auto;
        background-position: top;
    }

    .container .card:nth-of-type(1) {
        background-position: center;
    }
}

@media(max-width:515px){
    .collections{
        transform: translateY(49em);
    }
}