.container {
    transform: translateY(56em);
    padding: 2em 0;
    overflow: hidden;
}

.heading {
    font-size: 5.3em;
    color: #4C4C4C;
    margin: 0 4rem;
}

.paragraph {
    font-size: 3.3em;
    color: #C0A797;
    margin: 0 4rem;
}

.btnContainer {
    margin-left: 4rem;
}


@media (max-width: 580px) {

    .heading {
        margin: 0 2rem;
    }

    .paragraph {
        margin: 0 2rem;
    }

    .btnContainer {
        margin-left: 1.7em;
        font-size: 3.5em;
    }
}
@media (max-width: 900px) {
    .container {
        transform: translateY(50em);
    }
}


@media (max-width: 515px) {
    .container {
        transform: translateY(37em);
    }
}