.container {
    display: flex;
    transform: translateY(56em);
    justify-content: center;
    flex-wrap: wrap;
}

.heading1 {
    transform: translateY(56em);
}

.photo {
    width: 45vw;
    height: 60vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.girl-photo {
    background-image: url('../assets/blue-girl.png');
    z-index: 8;
    margin-right: 1.5em;
}

.shoe-photo {
    background-image: url('../assets/blue-shoes.png');
    transform: translateY(8em);
    z-index: 8;
    margin-left: 1.5em;
}

.heading1{
    transform: translateX(48em) translateY(-6em);
    z-index: 10;
    width: 50%;
}

hr {
    width: 30em;
    margin: 0;
    transform: translateX(25em) translateY(-6em);
    height: 0.1em;
    background-color: rgba(140, 158, 185, 0.67);
    border: none;
}

h1 {
    font-size: 8em;
    color: rgba(140, 158, 185, 0.67);
    display: inline;
}