.mainContainer {
    display: flex;
    margin: 3rem 13rem;
    gap: 3em;
}

.shoppingCartItems {
    width: 70%;
}

.product {
    display: flex;
    gap: 1em;
}

.product img {
    width: 15em;
    aspect-ratio: 1 / 1;
}

.price {
    font-size: 1em;
    color: #607594;
    font-weight: 600;
}

.productDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5em;
    gap: 1em;
}

.productDetails p {
    margin: 0;
    font-weight: 500;
}

.productDetails div p {
    font-size: 0.7em;
    font-weight: 400;
}

.productDetails div p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.448);
}

.heading {
    font-size: 1em;
    color: #607594;
    font-weight: 600;
}

td {
    vertical-align: top;
    text-align: center;
    padding: 2em 1em;
}

th {
    padding: 0.5em 0;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.585);
    font-weight: 600;
    text-align: center;
}

th:first-child {
    text-align: left;
}

table {
    width: 100%;
}

.quantityContainer {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.quantityContainer p {
    margin: 0;
}

.quantityContainer button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #607594af;
    color: white;
}

.labelsTr {
    background-color: transparent;
}

tr {
    background-color: #F6F6F6;
}

table {
    border-collapse: separate;
    border-spacing: 0 1.5em;
}

.heading {
    font-size: 1.5em;
    margin: 0;
}

tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1em;
}

tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 1em;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 29em;
    justify-content: space-between;
}

.orderSummary {
    width: 100%;
}

.order {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.156);
    border-radius: 0.75em;
    padding: 4em 3em;
    gap: 1em;
}

.subtotal,
.discount,
.total {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.subtotalDiscount,
.totalCheckout {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.subtotalDiscount {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.subtotal p:first-child,
.discount p:first-child,
.discount p:nth-of-type(2) {
    font-size: 1em;
    color: rgba(76, 76, 76, 0.50);
    font-weight: 500;
}

.subtotal p:nth-of-type(2) {
    color: rgba(76, 76, 76, 0.70);
    font-weight: 600;
}

.totalCheckout button {
    border: none;
    background-color: #607594;
    color: white;
    font-size: 1.3em;
    padding: 0.5em 0;
    border-radius: 0.2em;
}

@media(max-width:1200px) {
    .mainContainer {
        flex-direction: column;
        margin: 3rem;
    }

    .summary {
        height: 40em;
    }

    .subtotal,
    .discount,
    .total {
        font-size: 2em;
    }

    .totalCheckout button {
        font-size: 2em;
        width: 15em;
    }

    .shoppingCartItems {
        width: 100%;
    }

    .summary {
        width: 100%;
    }

    td,
    th {
        font-size: 1.5em;
    }

    .heading {
        font-size: 3em;
    }
}

@media(max-width:900px) {
    .product img {
        width: 8em;
        aspect-ratio: 1 / 1;
    }

    .mainContainer {
        margin: 1.5rem;
    }

    td,
    th {
        font-size: 2em;
    }

    td {
        height: 10em;
        vertical-align: middle;
    }

    .productDetails {
        font-size: 1.5em;
        gap: 0.2em;
        justify-content: center;
    }

    .price {
        margin: 0;
    }

    .productDetails p {
        margin: 0;
    }

    .productDetails p:nth-child(2),
    .productDetails p:nth-child(3) {
        font-size: 0.5em;
    }

    .subtotal,
    .discount,
    .total {
        font-size: 2.5em;
    }
}

@media(max-width:500px) {
    .summary {
        height: 45em;
    }

    .totalCheckout button {
        font-size: 2.5em;
        width: 100%;
    }
}