.productInfoContainer {
    width: 40%;
    margin-right: 7.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4em;
    gap: 2em;
}

.name {
    font-size: 2.25em;
    font-weight: 700;
    color: #4C4C4C;
    margin: 0;
}

.reviewsContainer {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 0.5em;
}

.reviews {
    font-size: 1.25em;
    color: #CACACA;
    font-weight: 700;
    margin: 0;
}

.price {
    font-size: 4em;
    color: #4C4C4C;
    font-weight: 600;
    margin: 0;
}


.modal {
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    border-radius: 2em;
    background: #a9b5c88a;
    backdrop-filter: blur(10px);
    border: none;
    padding: 2em;
}

.modal label {
    font-size: 1rem;
    color: #30415af6;
}

.modal div {
    display: flex;
    gap: 0.25em;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.modal input {
    color: #30415af6;
    background-color: #6f7d9471;
    padding: 1.5em 1em;
    width: 30%;
    border-radius: 0.5rem;
}

.closeButton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: none;
    border: none;
    font-size: 2rem;
    color: #30415af6;
    cursor: pointer;
}

.addToCartContainer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.addToCartContainer button {
    width: 70%;
}

.quantityContainer {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.quantityContainer p {
    margin: 0;
    width: 2em;
    text-align: center;
    font-size: 1.5em;
    color: #4C4C4C;
}

.quantityContainer button {
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #607594af;
    color: white;
    height: 100%;
}

.quantityContainer button:hover {
    background-color: #607594d8;
}

.quantity {
    font-size: 1.5em;
    color: #4C4C4C;
}

@media (max-width: 900px) {
    .productInfoContainer {
        width: 100%;
    }

    .nameRatingContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .reviewsContainer {
        margin-top: 0;
    }

    .button {
        margin-top: 1em;
    }

}

@media (max-width: 515px) {
    .productInfoContainer {
        margin-right: 0em;
    }

    .nameRatingContainer {
        flex-direction: column;
        align-items: start;
        gap: 0.5em;
    }

    .reviewsContainer {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .addToCartContainer {
        flex-direction: column;
    }

    .addToCartContainer button {
        width: 100%;
    }

    .quantityContainer button {
        aspect-ratio: 1/1;
    }
}