* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

.button {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s, transform 0.3s ease;
    cursor: pointer;
}

.button-primary {
    background-color: #536580f6;
    color: white;
}

.button-secondary {
    background-color: transparent;
    color: #536580f6;
    border: 1px solid #53658062;
}

.button-danger {
    background-color: #dc3545;
    color: white;
}

.button-search {
    background-color: #8C9EB9;
    color: white;
}

.border-off {
    color: #53658095;
    border: none;
}

.button-disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.button-small {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
}

.button-medium {
    padding: 0.7rem 2rem;
    font-size: 1rem;
}

.button-large {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
}

.button-primary:hover {
    background-color: #283242;
}

.button-secondary:hover {
    background-color: #536580f6;
    border-color: transparent;
    color: white;
}

.button-danger:hover {
    background-color: #c82333;
}

.border-off:hover {
    background-color: transparent;
    color: #333e4ff6;
    transform: scale(1.05);
}

.closeButton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: none;
    border: none;
    font-size: 2rem;
    color: #30415af6;
    cursor: pointer;
}

.loading {
    font-size: 3em;
    color: #333e4ff6;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 3em;
}

.loadingContainer img {
    width: 40%;
}

.notFound {
    font-size: 1.2em;
    color: #333e4f94;
    margin: 0;
}

.notFound:first-child {
    font-size: 2em;
    color: #333e4ff6;
    margin-bottom: 0.5em;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

